// Global variables
$mobile-break-point: 950px;
// App color pallet
$color-primary: #3c415e;
$color-primary-200: #3c415e;
$color-secondary: #1cb3c8;
$color-accent: #738598;
$color-accent-200: #738598;
$color-accent-400: #738598;
$color-accent-800: #738598;
