@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root,
body,
ul,
h1 {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #ecf5ff;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #afc2d6;
    border-radius: 5px;
  }
}

#root {
  height: 100%;
  font-size: 62.5%; // 10px = 1rem from browser default font size(16px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
