// Global variables
$mobile-break-point: 940px;
// App color pallet
$color-primary: #3c415e;
$color-secondary: #1cb3c8;
$color-secondary-200: #29cbe0;
$color-accent: #d3e8ff;
$color-accent-200: #ecf5ff;
$color-accent-400: #738598;
