// Global variables
$mobile-break-point: 940px;
// App color pallet
$color-primary: #3c415e;
$color-primary-200: #3c415e;
$color-secondary: #1cb3c8;
$color-accent: #d3e8ff;
$color-accent-200: #ecf5ff;
$color-accent-400: #afc2d6;
$color-accent-600: #738598;
$color-accent-800: #738598;
